<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Formulario de Mantenimiento</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Car Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/mecanicos">Mecanicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mecanicos/nuevo">Nuevos Mecanico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mantenimientos">Mantenimientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mantenimientos/nuevo">Nuevos Mantenimientos</a>
            </li>
            <!-- Agrega más elementos de menú según tus controladores -->
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h2>Formulario de Mantenimiento</h2>
    <form th:object="${mantenimientos}" th:action="@{/mantenimientos}" method="post">
        <div class="form-group">
            <label for="inputEstado">Estado:</label>
            <select class="form-control" id="inputEstado" th:field="*{estado}">
                <option value="1">En proceso</option>
                <option value="2">Terminado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputCodPlaca">Código de Placa:</label>
            <input type="text" class="form-control" id="inputCodPlaca" th:field="*{codPlaca}" maxlength="6" required>
        </div>
        <div class="form-group">
            <label for="inputHorasLaboradas">Horas Laboradas:</label>
            <input type="text" class="form-control" id="inputHorasLaboradas" th:field="*{horasLaboradas}" title="Ingrese solo números" maxlength="10" required/>
            <small id="documentoHelp" class="form-text text-muted">Ingrese solo números en este campo.</small>
        </div>
        <div class="form-group">
            <label for="inputMecanico">Mecánico priorizados:</label>
            <select class="form-control" id="inputMecanico" th:field="*{mecanico}">
            <option th:each="mecanico : ${mecanicos}" th:value="${mecanico.documento}"
                    th:text="${mecanico.primerNombre}+' '+${mecanico.primerApellido} "></option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Mantenimiento</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>