<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Tabla de Mecanicos</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Car Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/mecanicos">Mecanicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mecanicos/nuevo">Nuevos Mecanico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mantenimientos">Mantenimientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mantenimientos/nuevo">Nuevos Mantenimientos</a>
            </li>
            <!-- Agrega más elementos de menú según tus controladores -->
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h2>Tabla de Mecanicos</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Documento</th>
            <th>Tipo de Documento</th>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Celular</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <!-- Aquí iterarías sobre la lista de clientes en tu controlador -->
        <tr th:each="mecanico : ${mecanicos}">
            <td th:text="${mecanico.documento}"></td>
            <td th:text="${mecanico.tipoDocumento.descripcion}"></td>
            <td th:text="${mecanico.primerNombre}"></td>
            <td th:text="${mecanico.segundoNombre}"></td>
            <td th:text="${mecanico.primerApellido}"></td>
            <td th:text="${mecanico.segundoApellido}"></td>
            <td th:text="${mecanico.celular}"></td>
            <td th:text="${mecanico.direccion}"></td>
            <td th:text="${mecanico.email}"></td>
            <td th:text="${mecanico.estado}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
